@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="index-center">
    <h1 class="display-4">Welcome to the Cook Book!</h1>
    <p><img src="~/images/index_cook_book.png" /></p>
</div>
