@page "{id}"
@model HomeTask6.Web.Pages.Categories.CategoriesAddModel
@{
    ViewData["Title"] = "Add category";
}
<h2>@Model.Message @Model.Id</h2>
<form method="post">
    <label for="nameCategory">Name category:</label><br />
    <input type="text" name="nameCategory" id="nameCategory" /><br /><br />
    <input type="submit" value="Send" />
</form>
