@page "{id}"
@model HomeTask6.Web.Pages.Categories.CategoriesEditModel
@{
    ViewData["Title"] = "Edit category";
}
<h2>@Model.Message</h2>
<form method="post">
    <label for="nameCategory">Name category:</label><br />
    <input type="text" name="nameCategory" id="nameCategory" /><br /><br />
    <label for="nameRootCategory">Change root category:</label><br />
    <input type="text" name="nameRootCategory" id="nameRootCategory" />
    <input type="submit" value="Find" asp-page-handler="FindCategories" asp-route-parentСategoryName=nameCategory /><br /><br />
    @Html.DropDownList("user", new SelectList(@Model.Categories), "Select a parent category")<br /><br />
    <input type="submit" value="Save" />
</form>
