@page
@model HomeTask6.Web.Pages.Categories.RenameModel
@{
    ViewData["Title"] = "Rename category";
}
<form method="post" class="decor">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <h3>@ViewData["Title"]</h3>
        <input type="text" placeholder="Name category" value="@Model.NameCategory" name="nameCategory" id="nameCategory" />
        <input type="submit" value="Save"
               asp-page-handler="SaveCategoryChanges"
               asp-route-categoryId=@Model.SelectedCategory.Id
               asp-route-nameCategory=nameCategory
               asp-route-parentCategoryId=@Model.SelectedCategory.ParentId />
    </div>
</form>