@page
@model HomeTask6.Web.Pages.Ingredients.CreateIngredientModel
@{
    ViewData["Title"] = "Create ingredient";
}
<form method="post" class="decor">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <h3>@ViewData["Title"]</h3>
        <input class="form-input-text" type="text" placeholder="Enter ingredient name" name="nameingredient" id="nameingredient" required />
        <input class="form-input" type="submit" value="Create" asp-page-handler="CreateIngredient" />
    </div>
</form>