@page
@model HomeTask6.Web.Pages.Ingredients.IngredientsIndexModel
@{
    ViewData["Title"] = "Ingredients";
}
<form method="post" class="decor">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <h3>@ViewData["Title"]</h3>
        <table>
            @foreach (var ingredient in Model.DisplayedIngredients)
            {
                <tr>
                    <td>@ingredient.Name</td>
                </tr>
            }
        </table>
    </div>
</form>
<div class="decor-pager">

        <paging total-records="Model.TotalRecords"
                page-no="Model.PageNo"
                page-size="Model.PageSize"
                show-total-pages="false"
                show-total-records="false"
                show-page-size-nav="false"
                query-string-key-page-no="pageNo"
                query-string-key-page-size="pageSize">
        </paging>

</div>