input.btn {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    background: #F79361;
    box-shadow: 2px 2px 0 0 #a22800;
    position: relative;
}

    input.btn:hover {
        box-shadow: none;
        top: 2px;
        left: 2px;
    }

a.form-input, input.form-input {
    text-decoration: none;
    outline: none;
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 20px 50px 10px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: #f69a73;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}

input.form-input-text {
    text-decoration: none;
    outline: none;
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 20px 0px 10px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #524f4e;
    background: white;
}

textarea.textarea-input {
    text-decoration: none;
    outline: none;
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 45px;
    margin: 20px 0px 10px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #524f4e;
    background: white;
}

a.form-input:hover, input.form-input:hover, button:hover {
    background: lightblue;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: black;
    transform: translateY(-7px);
}
