@model int
<script>
    $(function () {
        $('#addIngredient').on('click', function () {
            var amount = $('#amountIngredient').val();
            var unit = $('#unitIngredient').val().replace(/ +/g, '+').trim();
            var recipeId = @Model;
            var selectedAmountIngredient = $('#selectedAmountIngredient').val();
            if ($.isNumeric(amount)) {
                $('#viewIngredients').load('/IngredientsRecipe/IndexIngredientsRecipe?handler=AddIngredientsRecipePartial&amount=' + amount +
                    '&unit=' + unit + '&recipeId=' + recipeId + '&selectedAmountIngredient=' + selectedAmountIngredient)
            }
            else
            {
                alert('Amount ingredient must be numeric!')
            }
        });
    });
</script>
<input class="form-text-one-line" type="text" name="amountIngredient" id="amountIngredient" placeholder="amount" required/>
<input class="form-text-one-line" type="text" name="unitIngredient" id="unitIngredient" placeholder="unit" required/>
<button class="form-input-one-line" type="submit" id="addIngredient">Add</button>